<settings>
  <sageinput>
    <Field Type="short"
        label="Galaxy Classification"
        description="Galaxy type: 0->Central, 1->Satellite, 2->Orphan"
        order="2"
        units="None"
        group="Galaxy Properties">objecttype</Field>
    <Field Type="float"
        label="X"
        description="Position of host subhalo at snapshot when last identified"
        order="8"
        units="Mpc/h"
        group="Positions &amp; velocities">posx</Field>
    <Field Type="float"
        label="Y"
        description="Position of host subhalo at snapshot when last identified"
        order="9"
        units="Mpc/h"
        group="Positions &amp; velocities">posy</Field>
    <Field Type="float"
        label="Z"
        description="Position of host subhalo at snapshot when last identified"
        order="10"
        units="Mpc/h"
        group="Positions &amp; velocities">posz</Field>
    <Field Type="float"
        label="X Velocity"
        description="Comoving velocity of subhalo at last snapshot identified"
        order="11"
        units="km/s"
        group="Positions &amp; velocities">velx</Field>
    <Field Type="float"
        label="Y Velocity"
        description="Comoving velocity of subhalo at last snapshot identified"
        order="12"
        units="km/s"
        group="Positions &amp; velocities">vely</Field>
    <Field Type="float"
        label="Z Velocity"
        description="Comoving velocity of subhalo at last snapshot identified"
        order="13"
        units="km/s"
        group="Positions &amp; velocities">velz</Field>
    <Field Type="int"
        label="Snapshot Number"
        description="Snapshot number in the simulation"
        order="38"
        units=""
        group="Simulation">snapnum</Field>
    <Field Type="long long"
        label="globalindex"
        description="globalindex"
        order="45"
        units=""
        group="Internal">globalindex</Field>
    <Field Type="int"
        label="descendant"
        description="Tree-local index of the descendant "
        order="43"
        units=""
        group="Internal">descendant</Field>
    <Field Type="int"
        label="Merger Type"
        description="Merger type: 0=none; 1=minor merger; 2=major merger; 3=disk instability; 4=disrupt to ICS"
        order="41"
        units=""
        group="Internal">mergetype</Field>
    <Field Type="float"
        label="Galaxy Age"
        description="Time-step between this galaxy and parent"
        order="42"
        units="Myrs/h"
        group="Internal">dt</Field>
    <Field Type="float"
        label="Star Formation Rate in the Disk"
        description="Star formation rate in the disk"
        order="46"
        units="Msun/year"
        group="Internal">sfrdisk</Field>
    <Field Type="float"
        label="Star formation Rate in the Bulge"
        description="Star formation rate in the bulge"
        order="47"
        units="Msun/year"
        group="Internal">sfrbulge</Field>
    <Field Type="float"
        label="Avg. Metallicity of Star-forming Disk Gas"
        description="Metallicty of star forming disk gas (averaged over timesteps between two snapshots)(Mass of metals)/(Mass of star forming disk gas)"
        order="48"
        units="fraction"
        group="Internal">sfrdiskz</Field>
    <Field Type="float"
        label="Avg. Metallicity of Star-forming Bulge Gas"
        description="Metallicty of star forming bulge gas (averaged over timesteps between two snapshots)(Mass of metals)/(Mass of star forming bulge gas)"
        order="49"
        units="fraction"
        group="Internal">sfrbulgez</Field>
    <Field Type="int"
        label="treeindex"
        description="treeindex"
        order="50"
        units=""
        group="Internal">treeindex</Field>
    <Field Type="int"
        label="localindex"
        description="localindex"
        order="51"
        units=""
        group="Internal">localindex</Field>
    <Field Type="long long"
        label="globaldescendant"
        description="globaldescendant"
        order="52"
        units=""
        group="Internal">globaldescendant</Field>
    <Field Type="int"
        label="subsize"
        description="subsize"
        order="53"
        units=""
        group="Internal">subsize</Field>
    <Field Type="float"
        label="Cold gas mass"
        description="Mass of cold gas"
        order="22"
        units="10^10 Msun/h"
        group="Galaxy Masses">coldgas</Field>
    <Field Type="float"
        label="Metals Cold Gas Mass"
        description="Mass of metals contained within cold gas component"
        order="23"
        units="10^10 Msun/h"
        group="Galaxy Masses">metalscoldgas</Field>
    <Field Type="float"
        label="Disk scale length"
        description="Scale length of the galaxy disk"
        order="25"
        units="Mpc/h"
        group="Galaxy Properties">diskscaleradius</Field>
    <Field Type="long long"
        label="MBP ID"
        description="Most-bound particle ID"
        order="0"
        units="None"
        group="Halo Properties">id_MBP</Field>
    <Field Type="long long"
        label="Galaxy ID"
        description="Unique galaxy ID"
        order="1"
        units="None"
        group="Galaxy Properties">ID</Field>
    <Field Type="int"
        label="Galaxy Classification"
        description="Galaxy type: 0->Central, 1->Satellite, 2->Orphan"
        order="3"
        units="None"
        group="Galaxy Properties">Type</Field>
    <Field Type="int"
        label="Central galaxy index"
        description="Index of the central galaxy of the host FOF group"
        order="4"
        units="None"
        group="Galaxy Properties">CentralGal</Field>
    <Field Type="int"
        label="Ghost galaxy flag"
        description="Ghost galaxy flag: 0->Host identified, 1->Ghost"
        order="5"
        units="None"
        group="Galaxy Properties">GhostFlag</Field>
    <Field Type="int"
        label="Particle number"
        description="Number of particles in host subhalo"
        order="6"
        units="None"
        group="Halo Properties">Len</Field>
    <Field Type="int"
        label="Maximum particle number"
        description="Maximum number of particles in host subhalo"
        order="7"
        units="None"
        group="Halo Properties">MaxLen</Field>
    <Field Type="int"
        label="Physics debug flags"
        description="Debugging flags for physical recipes"
        order="54"
        units="None"
        group="Internal">PhysicsFlags</Field>
    <Field Type="float"
        label="Subhalo spin"
        description="Bullock style lambda parameter"
        order="14"
        units="None"
        group="Halo Properties">Spin</Field>
    <Field Type="float"
        label="Mvir"
        description="Virial mass of host subhalo"
        order="15"
        units="10^10 Msun/h"
        group="Halo Properties">Mvir</Field>
    <Field Type="float"
        label="Rvir"
        description="Virial radius of host subhalo"
        order="16"
        units="Mpc/h"
        group="Halo Properties">Rvir</Field>
    <Field Type="float"
        label="Vvir"
        description="Virial velocity of host subhalo"
        order="17"
        units="km/s"
        group="Halo Properties">Vvir</Field>
    <Field Type="float"
        label="Vmax"
        description="Maximum circular velocity of host subhalo"
        order="18"
        units="km/s"
        group="Halo Properties">Vmax</Field>
    <Field Type="float"
        label="FOF virial mass"
        description="Virial mass of the host friends-of-friends group"
        order="19"
        units="10^10 Msun/h"
        group="Halo Properties">FOFMvir</Field>
    <Field Type="float"
        label="Hot gas mass"
        description="Mass of hot gas"
        order="20"
        units="10^10 Msun/h"
        group="Galaxy Masses">HotGas</Field>
    <Field Type="float"
        label="Hot metals mass"
        description="Mass of metals contained within hot gas component"
        order="21"
        units="10^10 Msun/h"
        group="Galaxy Masses">MetalsHotGas</Field>
    <Field Type="float"
        label="Cooling mass"
        description="Mass of baryons cooling onto the galaxy in current timestep"
        order="24"
        units="10^10 Msun/h"
        group="Galaxy Masses">Mcool</Field>
    <Field Type="float"
        label="Disk scale length"
        description="Scale length of the galaxy disk"
        order="26"
        units="Mpc/h"
        group="Galaxy Properties">DiskScaleLength</Field>
    <Field Type="float"
        label="Stellar mass"
        description="Galaxy stellar mass"
        order="27"
        units="10^10 Msun/h"
        group="Galaxy Masses">StellarMass</Field>
    <Field Type="float"
        label="Gross stellar mass"
        description="Galaxy stellar mass excluding SN mass loss"
        order="28"
        units="10^10 Msun/h"
        group="Galaxy Masses">GrossStellarMass</Field>
    <Field Type="float"
        label="Stellar metals"
        description="Mass of metals in stellar component"
        order="29"
        units="10^10 Msun/h"
        group="Galaxy Masses">MetalsStellarMass</Field>
    <Field Type="float"
        label="Total Star Formation Rate"
        description="Galaxy star formation rate"
        order="30"
        units="solMass/yr"
        group="Galaxy Properties">Sfr</Field>
    <Field Type="float"
        label="Ejected gas"
        description="Mass of gas ejected from system in current timestep"
        order="31"
        units="10^10 Msun/h"
        group="Galaxy Masses">EjectedGas</Field>
    <Field Type="float"
        label="Ejected metals"
        description="Mass of metals in ejected component"
        order="32"
        units="10^10 Msun/h"
        group="Galaxy Masses">MetalsEjectedGas</Field>
    <Field Type="float"
        label="Black hole mass"
        description="Currently unused"
        order="55"
        units="10^10 Msun/h"
        group="Internal">BlackHoleMass</Field>
    <Field Type="float"
        label="Maximum reheated mass fraction"
        description="Debugging property"
        order="56"
        units="None"
        group="Internal">MaxReheatFrac</Field>
    <Field Type="float"
        label="Maximum ejected mass fraction"
        description="Debugging property"
        order="57"
        units="None"
        group="Internal">MaxEjectFrac</Field>
    <Field Type="float"
        label="Cooling radius"
        description="Cooling radius"
        order="33"
        units="Mpc/h"
        group="Galaxy Properties">Rcool</Field>
    <Field Type="float"
        label="Disk inclination"
        description="Inclination of galaxy disk (random)"
        order="34"
        units="None"
        group="Galaxy Properties">Cos_Inc</Field>
    <Field Type="float"
        label="Time remaining until merger"
        description="Time remaining until merger"
        order="58"
        units="Myr/h"
        group="Internal">MergTime</Field>
    <Field Type="float"
        label="Merger start radius"
        description="Radius at which host halo lost"
        order="59"
        units="Mpc/h"
        group="Internal">MergerStartRadius</Field>
    <Field Type="float"
        label="Baryon fraction modifier"
        description="Fractional modification to the infalling baryon mass due to photoionization supression from the UVB."
        order="35"
        units="None"
        group="Galaxy Properties">BaryonFracModifier</Field>
    <Field Type="float"
        label="Critical virial mass for photo supression"
        description="The halo mass at which 50% of baronic infall would be supressed, given the intensity of the local UVB."
        order="36"
        units="10^10 Msun/h"
        group="Galaxy Properties">MvirCrit</Field>
    <Field Type="float"
        label="Mass weighted mean stellar age"
        description="The mass weighted mean stellar age of the galaxy"
        order="37"
        units="Myr/h"
        group="Galaxy Properties">MWMSA</Field>
    <Field Type="float"
        label="New stars"
        description="The stars formed in this snapshot."
        order="60"
        units="10^10 Msun/h"
        group="Internal">NewStars_0</Field>
    <Field Type="float"
        label="New stars"
        description="The stars formed in current snapshot - 1."
        order="61"
        units="10^10 Msun/h"
        group="Internal">NewStars_1</Field>
    <Field Type="float"
        label="New stars"
        description="The stars formed in current snapshot - 2."
        order="62"
        units="10^10 Msun/h"
        group="Internal">NewStars_2</Field>
    <Field Type="float"
        label="New stars"
        description="The stars formed in current snapshot - 3."
        order="63"
        units="10^10 Msun/h"
        group="Internal">NewStars_3</Field>
    <Field Type="float"
        label="New stars"
        description="The stars formed in current snapshot - 4."
        order="64"
        units="10^10 Msun/h"
        group="Internal">NewStars_4</Field>
    <Field Type="int"
        label="Descendant Galaxy Index"
        description="Index for the descendant galaxy after a merger"
        order="39"
        units=""
        group="Internal">mergeIntoID</Field>
    <Field Type="int"
        label="Descendant Snapshot"
        description="Snapshot for the descendant galaxy"
        order="40"
        units=""
        group="Internal">mergeIntoSnapNum</Field>
    <Field Type="long long"
        label="GalaxyIndex"
        description="GalaxyIndex"
        order="44"
        units="None"
        group="Internal">GalaxyIndex</Field>
    <Field Type="int"
        label="HaloID"
        description="HaloID"
        order="45"
        units="None"
        group="Internal">haloid</Field>
    <Field Type="int"
        label="TreeID"
        description="TreeID"
        order="46"
        units="None"
        group="Internal">treeid</Field>
    <Field Type="long long"
        label="ForestID"
        description="ForestID"
        order="47"
        units="None"
        group="Internal">forestid</Field>
    <Field Type="float"
        label="UV1600 Rest Frame"
        description="UV1600 Rest Frame"
        order="48"
        units="None"
        group="Internal">M1600-100</Field>
    <Field Type="float"
        label="UV1600 Rest Frame (With dust)"
        description="UV1600 Rest Frame (With dust)"
        order="49"
        units="None"
        group="Internal">M1600-100_dust</Field>
  </sageinput>
</settings>
